{% macro renderChecks(attr, total = 5) %}
  {% import _self as macros %}
  {% if attr > 0 %}
    {% set max = (attr > total) ? total - 1 : attr - 1 %}
    {% for i in range(0, max) %}
      <i class="fas fa-circle text-red"></i>
    {% endfor %}
    {% if attr < total %}
      {% set subtotal = total - 1 %}
      {% for i in range(attr, subtotal) %}
        <i class="far fa-circle text-red"></i>
      {% endfor %}
    {% endif %}
  {% else %}
    {% set subtotal = total - 1 %}
    {% for i in range(0, subtotal) %}
      <i class="far fa-circle text-red"></i>
    {% endfor %}
  {% endif %}
{% endmacro %}
{% macro renderCheckbox(value, counter) %}
  {% import _self as macros %}
  {% if value > 0 %}
    <i class="far fa-check-square"></i>
  {% else %}
    {% if counter %}
      <span class="fa-stack">
        <i class="far fa-square fa-stack-1x"></i>
        <span class="fa-stack-1x sheet-checkboxes-counter">{{ counter }}</span>
      </span>
    {% else %}
      <i class="far fa-square"></i>
    {% endif %}
  {% endif %}
{% endmacro %}
{% macro renderNature(key, type, aspects, current, max, passes, failures) %}
  {% import _self as macros %}
  <div class="sheet-item row">
    <div class="sheet-ability-key col-5 d-flex justify-content-center flex-column">
      <div class="row">
        <div class="col-12">
          <span>{{ key }} [<span class="sheet-ability-nature-type">{{ type }}</span>]</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="sheet-ability-nature-aspects d-flex justify-content-center flex-column">{{ aspects }}</span>
        </div>
      </div>
    </div>
    <div class="sheet-ability-value col-2 d-flex justify-content-center flex-column">
      <span>{{ current }}/{{ max }}</span>
    </div>
    <div class="col-5">
      <div class="row">
        <div class="col-12">
          {% if max >= 7 %}
            <span class="sheet-checks">P: MAX</span>
          {% else %}
            <span class="sheet-checks">P: {{ macros.renderChecks(passes, max) }}</span>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {% if max >= 7 %}
            <span class="sheet-checks">F: MAX</span>
          {% else %}
            <span class="sheet-checks">F: {{ macros.renderChecks(failures, max - 1) }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
{% macro renderAbility(key, value, value_max, passes, failures) %}
  {% import _self as macros %}
  <div class="sheet-item row">
    <div class="sheet-ability-key col-5 d-flex justify-content-center flex-column">
      <span>{{ key }}</span>
    </div>
    <div class="sheet-ability-value col-2 d-flex justify-content-center flex-column">
      <span>{{ value }}</span>
    </div>
    <div class="col-5">
      <div class="row">
        <div class="col-12">
          {% if value >= value_max %}
            <span class="sheet-checks">P: MAX</span>
          {% else %}
            <span class="sheet-checks">P: {{ macros.renderChecks(passes, value) }}</span>
          {% endif %}
        </div>
        <div class="col-12">
          {% if value >= value_max %}
            <span class="sheet-checks">F: MAX</span>
          {% else %}
            <span class="sheet-checks">F: {{ macros.renderChecks(failures, value - 1) }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
{% macro renderSkill(key, value, nature_max, passes, failures) %}
  {% import _self as macros %}
  <div class="sheet-skills row d-flex flex-row mb-1">
    <div class="col-5 sheet-skills-key d-flex justify-content-center flex-column">
      <span>{{ key }}</span>
    </div>
    <div class="col-2 sheet-skills-value d-flex justify-content-center flex-column">
      <span>{{ (value > 0) ? value : 0 }}</span>
    </div>
    <div class="col-5">
      <div class="row">
        <div class="col-12">
          {% if value >= 6 %}
            <span class="sheet-checks">P: MAX</span>
          {% elseif value == 0 %}
            <span class="sheet-checks">R: {{ macros.renderChecks(passes, nature_max) }}</span>
          {% else %}
            <span class="sheet-checks">P: {{ macros.renderChecks(passes, value) }}</span>
          {% endif %}
        </div>
        <div class="col-12">
          {% if value >= 6 %}
            <span class="sheet-checks">F: MAX</span>
          {% elseif value == 0 %}
            <span class="sheet-checks beginner">Beginner's Luck</span>
          {% else %}
            <span class="sheet-checks">F: {{ macros.renderChecks(failures, value - 1) }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
{% macro renderItem(array) %}
  {# array contains keys `field` and `value` #}
  {% import _self as macros %}
  <div class="sheet-item row d-flex flex-row mb-1">
    {% for item in array %}
      <div class="sheet-item-title mr-2 ml-1">{{ item.field }}:</div>
      <div class="sheet-item-field mr-1">
        <span class="d-flex justify-content-center flex-column align-items-center">{{ item.value }}</span>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
{% macro renderHeader(name) %}
  {% import _self as macros %}
  <div class="row d-flex justify-content-center flex-column align-items-center">
    <h3>{{ name }}</h3>
  </div>
{% endmacro %}
{% macro renderWise(wise, pass, fail, fate, persona) %}
  {% import _self as macros %}
  <div class="sheet-wises row d-flex flex-row mb-1">
    <div class="col-5 sheet-wises-name">
      <span>{{ wise }}</span>
    </div>
    <div class="col-7">
      <div class="row d-flex flex-row">
        <div class="mr-auto ml-2 sheet-checkboxes">
          <span>{{ macros.renderCheckbox(pass) }}</span>
        </div>
        <div class="mr-auto sheet-checkboxes">
          <span>{{ macros.renderCheckbox(fail) }}</span>
        </div>
        <div class="mr-auto sheet-checkboxes">
          <span>{{ macros.renderCheckbox(fate) }}</span>
        </div>
        <div class="mr-auto sheet-checkboxes">
          <span>{{ macros.renderCheckbox(persona) }}</span>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
{% macro renderTrait(trait, rank, use1, use2, checks) %}
  {% import _self as macros %}
  <div class="sheet-traits row d-flex flex-row mb-1">
    <div class="col-5 sheet-traits-name">
      <span>{{ trait }}</span>
    </div>
    <div class="col-2 sheet-traits-value d-flex justify-content-center flex-column">
      <span>{{ (rank > 0) ? rank : 0 }}</span>
    </div>
    <div class="col-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="mr-auto sheet-checkboxes">
          <div class="flex-column">
            <div class="">{{ macros.renderCheckbox(use1, 1) }}</div>
            <div class="">{{ macros.renderCheckbox(use2, 2) }}</div>
          </div>
        </div>
        <div class="mr-auto sheet-checks">
          <div>{{ macros.renderChecks(checks, 6) }}</div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
{% import _self as macros %}
<!-- {# Header #} -->
<div class="row d-flex flex-row">
  <!-- Description Column -->
  <div class="col-lg-4 order-lg-2">
    <div>{{ macros.renderHeader('Patroller Record') }}</div>
    <div>{{ macros.renderItem([{'field':'Player','value':variables.player}]) }}</div>
    <div>{{ macros.renderItem([{'field':'Name','value':variables.name}]) }}</div>
    <div>{{ macros.renderItem([{'field':'Home','value':variables.home},{'field':'Age','value':variables.age}]) }}</div>
    <div>{{ macros.renderItem([{'field':'Fur','value':variables.fur}]) }}</div>
    <div>{{ macros.renderItem([{'field':'Guard Rank','value':variables.guard_rank}]) }}</div>
    <div>{{ macros.renderItem([{'field':'Patrol Specialty','value':variables.patrol_specialty}]) }}</div>
    <div>{{ macros.renderItem([{'field':'Cloak','value':variables.cloak}]) }}</div>
    <div>{{ macros.renderItem([{'field':'Weapon','value':variables.weapon}]) }}</div>
  </div>
  <!-- Abilities Column -->
  <div class="col-lg-8 order-lg-1">
    <div>{{ macros.renderHeader('Abilities') }}</div>
    <div class="row">
      <!-- Raw Abilities -->
      <div class="col-12 col-md-6">
        <div class="sheet-ability-labels row">
          <div class="col-5">Raw Abilities</div>
          <div class="col-2">Rating</div>
          <div class="col-5">Advancement</div>
        </div>
        <div>{{ macros.renderNature('nature'|capitalize, variables.nature_type, variables.nature_aspects, variables.nature_current, variables.nature_max, variables.nature_passes, variables.nature_failures) }}</div>
        <div>{{ macros.renderAbility('health'|capitalize, variables.health, 5, variables.health_passes, variables.health_failures) }}</div>
        <div>{{ macros.renderAbility('will'|capitalize, variables.will, 5, variables.will_passes, variables.will_failures) }}</div>
      </div>
      <!-- Special Abilities -->
      <div class="col-12 col-md-6">
        <div class="sheet-ability-labels row">
          <div class="col-5">Raw Abilities</div>
          <div class="col-2">Rating</div>
          <div class="col-5">Advancement</div>
        </div>
        <div>{{ macros.renderAbility('resources'|capitalize, variables.resources, 10, variables.resources_passes, variables.resources_failures) }}</div>
        <div>{{ macros.renderAbility('circles'|capitalize, variables.circles, 10, variables.circles_passes, variables.circles_failures) }}</div>
      </div>
    </div>
  </div>
</div>
<div class="row d-flex flex-row">
  <!-- Wise/Skill Column -->
  <div class="col-lg-8">
    <!-- Wises -->
    <div>{{ macros.renderHeader('Wises') }}</div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="sheet-wises-labels row mb-1">
          <div class="col-5">Wise</div>
          <div class="col-7">
            <div class="row d-flex justify-content-center align-items-center">
              <div class="mr-auto ml-2">Pass</div>
              <div class="mr-auto">Fail</div>
              <div class="mr-auto">Fate</div>
              <div class="mr-auto">Persona</div>
            </div>
          </div>
        </div>
        <div>{{ macros.renderWise(variables.wise_1, variables.wise_1_pass, variables.wise_1_fail, variables.wise_1_fate, variables.wise_1_persona) }}</div>
        <div>{{ macros.renderWise(variables.wise_2, variables.wise_2_pass, variables.wise_2_fail, variables.wise_2_fate, variables.wise_2_persona) }}</div>
      </div>
      <div class="col-12 col-md-6">
        <div class="sheet-wises-labels row mb-1 d-none d-sm-flex">
          <div class="col-5">Wise</div>
          <div class="col-7">
            <div class="row d-flex justify-content-center align-items-center">
              <div class="mr-auto ml-2">Pass</div>
              <div class="mr-auto">Fail</div>
              <div class="mr-auto">Fate</div>
              <div class="mr-auto">Persona</div>
            </div>
          </div>
        </div>
        <div>{{ macros.renderWise(variables.wise_3, variables.wise_3_pass, variables.wise_3_fail, variables.wise_3_fate, variables.wise_3_persona) }}</div>
        <div>{{ macros.renderWise(variables.wise_4, variables.wise_4_pass, variables.wise_4_fail, variables.wise_4_fate, variables.wise_4_persona) }}</div>
      </div>
    </div>
    <!-- Skills -->
    <div>{{ macros.renderHeader('Skills') }}</div>
    <div class="row">
      <!-- Main Skills -->
      <div class="col-12 col-md-6">
        <div class="sheet-skills-labels row mb-1">
          <div class="col-5">Skill</div>
          <div class="col-2">Rating</div>
          <div class="col-5">Advancement</div>
        </div>
        <div>{{ macros.renderSkill('Fighter', variables.skill_fighter_rating, variables.nature_max, variables.skill_fighter_pass, variables.skill_fighter_fail) }}</div>
        <div>{{ macros.renderSkill('Healer', variables.skill_healer_rating, variables.nature_max, variables.skill_healer_pass, variables.skill_healer_fail) }}</div>
        <div>{{ macros.renderSkill('Hunter', variables.skill_hunter_rating, variables.nature_max, variables.skill_hunter_pass, variables.skill_hunter_fail) }}</div>
        <div>{{ macros.renderSkill('Instructor', variables.skill_instructor_rating, variables.nature_max, variables.skill_instructor_pass, variables.skill_instructor_fail) }}</div>
        <div>{{ macros.renderSkill('Pathfinder', variables.skill_pathfinder_rating, variables.nature_max, variables.skill_pathfinder_pass, variables.skill_pathfinder_fail) }}</div>
        <div>{{ macros.renderSkill('Scout', variables.skill_scout_rating, variables.nature_max, variables.skill_scout_pass, variables.skill_scout_fail) }}</div>
        <div>{{ macros.renderSkill('Survivalist', variables.skill_survivalist_rating, variables.nature_max, variables.skill_survivalist_pass, variables.skill_survivalist_fail) }}</div>
        <div>{{ macros.renderSkill('Weather Watcher', variables.skill_weather_watcher_rating, variables.nature_max, variables.skill_weather_watcher_pass, variables.skill_weather_watcher_fail) }}</div>
        <div>{{ macros.renderSkill(variables.skill_1_name|capitalize, variables.skill_1_rating, variables.nature_max, variables.skill_1_pass, variables.skill_1_fail) }}</div>
      </div>
      <!-- Other Skills -->
      <div class="col-12 col-md-6">
        <div class="sheet-skills-labels row mb-1 d-none d-sm-flex">
          <div class="col-5">Skill</div>
          <div class="col-2">Rating</div>
          <div class="col-5">Advancement</div>
        </div>
        <div>{{ macros.renderSkill('Manipulator', variables.skill_manipulator_rating, variables.nature_max, variables.skill_manipulator_pass, variables.skill_manipulator_fail) }}</div>
        <div>{{ macros.renderSkill('Orator', variables.skill_orator_rating, variables.nature_max, variables.skill_orator_pass, variables.skill_orator_fail) }}</div>
        <div>{{ macros.renderSkill('Persuader', variables.skill_persuader_rating, variables.nature_max, variables.skill_persuader_pass, variables.skill_persuader_fail) }}</div>
        <div>{{ macros.renderSkill(variables.skill_2_name|capitalize, variables.skill_2_rating, variables.nature_max, variables.skill_2_pass, variables.skill_2_fail) }}</div>
        <div>{{ macros.renderSkill(variables.skill_3_name|capitalize, variables.skill_3_rating, variables.nature_max, variables.skill_3_pass, variables.skill_3_fail) }}</div>
        <div>{{ macros.renderSkill(variables.skill_4_name|capitalize, variables.skill_4_rating, variables.nature_max, variables.skill_4_pass, variables.skill_4_fail) }}</div>
        <div>{{ macros.renderSkill(variables.skill_5_name|capitalize, variables.skill_5_rating, variables.nature_max, variables.skill_5_pass, variables.skill_5_fail) }}</div>
        <div>{{ macros.renderSkill(variables.skill_6_name|capitalize, variables.skill_6_rating, variables.nature_max, variables.skill_6_pass, variables.skill_6_fail) }}</div>
        <div>{{ macros.renderSkill(variables.skill_7_name|capitalize, variables.skill_7_rating, variables.nature_max, variables.skill_7_pass, variables.skill_7_fail) }}</div>
      </div>
    </div>
  </div>
  <!-- Traits/Conditions Column -->
  <div class="col-lg-4">
    <!-- Traits -->
    <div>{{ macros.renderHeader('Traits') }}</div>
    <div class="row">
      <div class="col-12">
        <div class="sheet-traits-labels row mb-1">
          <div class="col-5">Trait</div>
          <div class="col-7">
            <div class="row d-flex justify-content-center align-items-center">
              <div class="mr-auto ml-2">Level</div>
              <div class="mr-auto">Used</div>
              <div class="mr-auto">Checks</div>
            </div>
          </div>
        </div>
        <div>{{ macros.renderTrait(variables.trait_1_name, variables.trait_1_rank, variables.trait_1_use_1, variables.trait_1_use_2, variables.trait_1_checks) }}</div>
        <div>{{ macros.renderTrait(variables.trait_2_name, variables.trait_2_rank, variables.trait_2_use_1, variables.trait_2_use_2, variables.trait_2_checks) }}</div>
        <div>{{ macros.renderTrait(variables.trait_3_name, variables.trait_3_rank, variables.trait_3_use_1, variables.trait_3_use_2, variables.trait_3_checks) }}</div>
        <div>{{ macros.renderTrait(variables.trait_4_name, variables.trait_4_rank, variables.trait_4_use_1, variables.trait_4_use_2, variables.trait_4_checks) }}</div>
        <div>{{ macros.renderTrait(variables.trait_5_name, variables.trait_5_rank, variables.trait_5_use_1, variables.trait_5_use_2, variables.trait_5_checks) }}</div>
      </div>
    </div>
    <!-- Conditions -->
    <div>{{ macros.renderHeader('Conditions') }}</div>
    <div class="row">
{#      #}
    </div>
  </div>
</div>
