{
  color: #272727;
  background-color: antiquewhite;
  padding: 20px;
}
/*******************/
/*  Sheet Checks   */
/*******************/
.sheet-checks {
  font-size: 0.9em;
  font-weight: 700;
}
.sheet-checks .fa-circle {
  font-size: 0.72em;
  margin-right: -3px;
}
/*******************/
/* Sheet Checkboxes*/
/*******************/
.sheet-checkboxes {

}
.sheet-checkboxes-counter {
  font-size: 0.5em;
  padding: 0.1em 0.1em 0 0;
}
/*******************/
/*   Sheet Items   */
/*******************/
.sheet-item {
  font-size: 0.9em;
}
.sheet-item-title {
  font-weight: 700;
}
.sheet-item-field {
  flex: 1 1 25%;
}
.sheet-item-field span {
  background-color: floralwhite;
}
/*******************/
/* Sheet Abilities */
/*******************/
.sheet-ability-key {
  font-size: 1.0em;
  font-weight: 700;
}
.sheet-ability-key .sheet-ability-nature-type {
  font-size: 0.6em;
  font-weight: normal;
  background-color: floralwhite;
  text-transform: uppercase;
}
.sheet-ability-key .sheet-ability-nature-aspects {
  font-size: 0.6em;
  font-weight: normal;
  background-color: floralwhite;
  padding: 0 3px;
}
.sheet-ability-value {
  font-size: 1.2em;
  font-weight: 700;
}
.sheet-ability-labels {
  font-size: 0.7em;
  border-bottom: 1px solid black;
}
.sheet-abilities {
  text-align: center;
}
/*******************/
/*   Sheet Wises   */
/*******************/
.sheet-wises {

}
.sheet-wises-name {
  background-color: floralwhite;
  text-align: center;
}
.sheet-wises-labels {
  font-size: 0.7em;
  border-bottom: 1px solid black;
}
/*******************/
/*  Sheet Skills   */
/*******************/
.sheet-skills {
  font-size: 1.0em;
  font-weight: 700;
}
.sheet-skills-key {
  font-size: 1.0em;
  background-color: floralwhite;
}
.sheet-skills-value {
  font-size: 1.2em;
  font-weight: 700;
}
.sheet-skills-labels {
  font-size: 0.7em;
  border-bottom: 1px solid black;
}
.sheet-skills .sheet-checks.beginner {
  font-size: 0.7em;
}
/*******************/
/*  Sheet Traits   */
/*******************/
.sheet-traits {
  font-size: 1.0em;
  font-weight: 700;
}
.sheet-traits-name {
  background-color: floralwhite;
  text-align: center;
}
.sheet-traits-value {
  font-size: 1.2em;
  font-weight: 700;
}
.sheet-traits-labels {
  font-size: 0.7em;
  border-bottom: 1px solid black;
}
.sheet-traits .fa-stack {
  height: 1.0em;
  line-height: 0;
  padding: 0.4em 0 0 0;
}
.sheet-traits .fa-stack-1x {
  left: 5px;
}
.sheet-traits .sheet-checks {
  font-size: 1.0em;
}